<div class="notices">
  <ul>
    <% if @notices %>
        <% @notices.each do |user_notice| %>
            <li><%= render partial: 'gubbara/application/notice', locals: {user_notice: user_notice} %></li>
        <% end %>
    <% end %>
  </ul>
</div>