<div class="notices">
  <ul>
    <% Gubbara::Notice.all.each do |user_notice| %>
        <li><%= render partial: 'gubbara/application/notice', locals: {user_notice: user_notice} %></li>
    <% end %>
  </ul>
</div>