<div class="notice_panel notice_<%= user_notice.id %>" style="background: #0275d8; width: 100%; position: relative; float: left; clear: both; padding: 10px 10px; text-align: center; font-size: 20px; line-height: normal;">
  <p style="margin: 0px; padding: 0px; line-height: normal; color: white;"><%= user_notice.message %></p>
    <div style="position: absolute; top: 8px; color: #ffffff; font-size: 14px; right: 15px; z-index: 101;"><%= link_to 'X', gubbara.hide_notice_path(user_notice), method: :post, remote: true, title: 'X', class: 'cross_button' %></div>
</div>

