<div class="notice_panel notice_<%= user_notice.id %>" style="color: #730E15">
  <p><%= user_notice.message %></p>

  <div class="buttons">
    <%= link_to 'hide', gubbara.hide_notice_path(user_notice), method: :post, remote: true, title: 'Hide the notice' %>
    <%= link_to 'close', gubbara.close_notice_path(user_notice), method: :post, remote: true, title: 'Close the notice' %>
  </div>
</div>